<?xml version="1.0"?>
<!--
/**
 * Copyright © 28Software (https://28software.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buysafe>
            <general>
                <active>0</active>
                <store_number/>
                <show_guarantee>0</show_guarantee>
                <show_seal>0</show_seal>
                <show_pdp_image>0</show_pdp_image>
                <base_path>//guarantee-cdn.com/SealCore/api/gjs</base_path>
            </general>
        </buysafe>
    </default>
</config>
